{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/tutorapp/css/app.css' %}"/>
    </head>
<body>
<div class="container">
  <header id="pageHeader">
      
            <a href="{% url 'home' %}" class="navbar-brand">Главная</a>
            <a href="{% url 'about' %}" class="navbar-item">О нас</a>
            <a href="{% url 'contacts' %}" class="navbar-item">Contact</a>
            <a href="{% url 'digest' %}" class="navbar-item">Дайджест</a>
            <a href="{% url 'tutors' %}" class="navbar-item">Наши преподаватели</a>
            <a href="{% url 'vacancies' %}" class="navbar-item">Стать преподавателем</a>
  </header>
  <article id="mainArticle">
    <div id="content2">
    <div class="body-content">
        {% block content %}
        {% endblock %}
    </div>
</div>
</article>
  <nav id="mainNav">Nav</nav>
  <div id="siteAds">Ads</div>
  <footer id="pageFooter">Footer</footer>
</div>
</body>
</html>